*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none
}

header {
    height: 135px;
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 234, 71);
  }
nav {
    height: 135px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(252, 234, 71);
    position: fixed;
  }
  ul {
    display: flex;
  }
  .icons {
    display: flex;
  }
  li {
    padding-right: 20px;
    padding-left: 20px;
  }
  .icons__user {
    height: 30px;
    width: 30px;
  }

  .menu__item__a{
    color: rgba(85, 81, 81, 0.781);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1,p{
    background-color: rgb(52, 133, 119);
    padding: 15px;
    color: white;
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.fondo{
    background-image: url("/assets/images/fondo2.jfif");
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonUnete{
    background-color: rgba(0, 0, 0, 0.267);
    height: 60px;
    width: 200px;
    border-radius: 8px;
    position: relative;
  
}
.textoUnete{
    color: rgba(236, 227, 91, 0.952);
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 25px;


}


/* Inicio de sesión */
.loginFrame{
  border: 1px;
  border-color: burlywood;
  border-radius: 8px;
  border-style: solid;
  padding: 10px;
  background-color: rgba(7, 19, 7, 0.39);

}

.datos{
  border: 1px;
  border-color: burlywood;
  border-radius: 8px;
  border-style: solid;
  padding: 10px;
  background-color: rgba(7, 19, 7, 0.39);
}

/* POP UP*/
.overlay{
  background:rgba(5, 3, 3, 0.3);
  height: 174px;
  width: 100% 100%;
  border-radius: 8px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.loginFrame {
  background-color: aquamarine;

}

.loginFrame .cerrarPopUp {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #fff;
  transition: .3s ease all;

}

.loginFrame .cerrarPopUp:hover{
  color: black;
}

.btnLogin{
  cursor: pointer;
  transition: .3s ease alL;
  background: rgb(248, 233, 22);
  border-radius: 3px;
  border-style: none;
  padding: 5px 8px;

}

.btnLogin:hover{
  background: rgb(245, 238, 143);
}
